body {
background-color: rgb(223, 231, 192);
}

.block {
    width: 600px;
    height: 600px;
    visibility: hidden;
    border-radius: 5%;
    background-color: rgb(220, 163, 235);    
    margin: 100px;

}
.unol {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.button {
    width: 30px;
    height: 30px;
    margin: 10%;
    border-radius: 50%;
    
} 

.btn {
    margin-left: 300px;
    width: 200px;
    height: 60px;
    background-color: bisque;
    border-radius: 5%;

}
